.fixed-content {
    display: flex;
    flex-direction: column;

    letter-spacing: 3.4px;
    line-height: 1;
    margin: 52px auto;
    text-align: center;
 
    width: fit-content;
}

.fixed-content .bottom-first {

    /* border-right: 1px solid #6B7B28; */

    font-size: 40px;

    display: flex;
    margin: 0 auto;
    color: #6B7B28;
    /* font-size: 25px; */
    width: 68%;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 3px;
    text-transform: uppercase;

}


.fixed-content .bottom-first .bottom-right {

    padding: 20px 72px 20px 0;
    border-right: 1px solid #6B7B28;
}


.fixed-content .bottom-first {
    margin: 0 auto;
    /* border-bottom: none; */
    display: flex;
    /* justify-content: flex-end; */
    /* padding: 20px 72px 20px 0; */
    /* width: 453px; */

}

.fixed-content .bottom-first .bottom-left{
    padding: 20px 0 20px 72px;
}


.fixed-content .bottom-second {
    /* text-align: center; */
    /* align-items: center;
    align-content: center; */
    /* display: flex; */
    margin: 0 auto;
    color: #6B7B28;
    font-size: 25px;
    width: fit-content;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.fixed-content .bottom-second h1 {

    line-height: 1;
    margin: 32px 0 8px 0;
    /* font-family: Open Sans; */
    color: #6B7B28;
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.fixed-content .bottom-second .sub-content {
    margin: 8px 0;
    font-family: Open Sans;
    letter-spacing: 3px;
    color: #6B7B28;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}